{% extends 'layout.twig' %}
{% block additionalCSS %}
{% endblock %}
{% block content %}
    {% if responseMessage != '' %}
        <div class="alert alert-info" role="alert">
            {{ responseMessage }}
        </div>
   {% endif %}
<!--main-content-->
<h1>Financials' List</h1>
<div class="btn-group pull-left">
    <a href="panelAdmin" type='button' class="btn btn-primary"><span class="glyphicon glyphicon-back" ></span>Go back</a>
</div>
<div class="btn-group pull-right">
    <button type='button' class="btn btn-info" data-toggle="modal" data-target="#addStdModal"><span class="glyphicon glyphicon-plus" ></span>Add financial</button>
</div>
<br>
<br>
<div class="table-responsive">
    <table id="students" class="display">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for person in persons %}
            <tr>
                <td id="{{person.id}}">{{person.id}}</td>
                <td id="name{{person.id}}">{{person.name}}</td>
                <td id="lastname{{person.id}}">{{person.lastName}}</td>
                <td id="email{{person.id}}">{{person.email}}</td>
                <td id="phone{{person.id}}">{{person.phone}}</td>
                <td>
                    <button class="btn btn-default edStd" title="Update teacher" type="button" value="{{person.id}}"><i class="glyphicon glyphicon-edit"></i></button>
                    <button href="#" class="btn btn-default delStd" title="Delete teacher" value="{{person.id}}"><i class="glyphicon glyphicon-trash"></i></button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="resultados_ajax2"></div>
    {% include 'Financials/modals/updateFinancial.twig' %}
    {% include 'Financials/modals/addFinancial.twig' %}
    {% endblock %}
    {% block additionalScripts %}
    <script type="text/javascript">

    $(document).ready(function() {
        $('#students').DataTable();

        $(document).on('click', '.edStd', function(){
        var id=$(this).val();
        var name=$("#name"+id).text();
        var lastName=$("#lastname"+id).text();
        var email=$("#email"+id).text();
        var phone=$("#phone"+id).text();
        $('#upStModal').modal('show');
        $('#idStd').val(id);
        $('#lastname').val(lastName);
        $('#firstname').val(name);
        $('#phone').val(phone);
    });

    $(document).on('click', '.delStd', function( event ){
        if (confirm('Are you sure you want delete this financial?')) {

            var id=$(this).val();
            var action = "delete";
             $.ajax({
                    type: "POST",
                    url: "/SGE/financialsList",
                    data: {'idStd' : id, 'action' : action},
            });
        }
    });
});

$( "#sendStd" ).submit(function( event ) {
  $('#saveStd').attr("disabled", true);
  
 var parametros = $(this).serialize();
     $.ajax({
            type: "POST",
            url: "/SGE/registerFinancial",
            data: parametros,
            success: function(response){
                console.log('Response: '+response);
            },
            error:function(error){
                console.log('Error: '+error);
            }
    });
  event.preventDefault();
});

$( "#updStd" ).submit(function( event ) {
  $('#actDatos').attr("disabled", true);
 var parametros = $(this).serialize();
     $.ajax({
            type: "POST",
            url: "/SGE/financialsList",
            data: parametros,
    });
  event.preventDefault();
  recargarTabla();
});

function recargarTabla() {
    
    $.ajax({
            type: "GET",
            url: "/SGE/financialsList",
            success: function(response){
            console.log('Response: '+response);
        }
    });
}

$(function() {
    $('#datetimepicker2').datepicker({
        locale: 'ru'
    });
});

</script>
{% endblock %}